# fill this out and copy to .env besides your filled out compose.yml
L1_RPC_URL=http://34.194.193.217:8545
L1_BEACON_RPC_URL=http://34.194.193.217:5052
MAIN_OP_NODE_RPC_PORT=9545
OP_NODE_GOSSIP_IP=0.0.0.0
OP_NODE_GOSSIP_PORT=9003
# this is for the gossiping
MAIN_OP_NODE_ID=16Uiu2HAmL7paqVVHedp72mPJduSpsAdmAuQC8vYYQYpBUxtRvApE
MAIN_OP_NODE_ENR=enr:-J-4QILzYuyAehT0IVqzPGXOBG9Yt90ziaEH3Q_nPpvN_XYCBGywUVDR35sfzzsEojkUE5On0h6zLwSb85fTUvfgdMeGAZas2ZPhgmlkgnY0gmlwhKwfGmOHb3BzdGFja4Xkq4MBAIlzZWNwMjU2azGhAiDMBULJeIV01oqFCRwjAPfJeYIyEse8Uq85W2Lzrtseg3RjcIIjK4N1ZHCCIys
OP_GETH_RPC_PORT=8545
OP_GETH_WS_PORT=8546
OP_GETH_ENGINE_RPC_PORT=8551
OP_GETH_GOSSIP_PORT=30303
PORTAL_PORT=8080
REGISTRY_PORT=8082
GATEWAY_PORT=9997
GATEWAY_SEQUENCING_KEY=#<key that the gateway uses to sign payloads with> MAIN_GETH_ENODE=10ece0b4fe3ea583f834a8b89682aafbb3d3762b114137d67b1cbb9e82126a53a1b549dd5dcae7a21c23dbeebeb2b8f74d60760eb84c179e69c0c80f259948d5
NETWORK_ID=2151908
MAIN_NODE_IP=18.185.199.51
