LOCAL_DATA="$PWD/.local"
PUBLIC_IP="127.0.0.1"
BASED_ENV=dev

OP_SEQUENCER_KEY=$(LOCAL_DATA=$PWD/.github/assets WALLET_DATA_FOLDER=wallets just -f based/scripts/wallet.just key sequencer)
OP_BATCHER_KEY=$(LOCAL_DATA=$PWD/.github/assets WALLET_DATA_FOLDER=wallets just -f based/scripts/wallet.just key batcher)
OP_PROPOSER_KEY=$(LOCAL_DATA=$PWD/.github/assets WALLET_DATA_FOLDER=wallets just -f based/scripts/wallet.just key proposer)

