# fill this out and copy to .env besides your filled out compose.yml
OP_NODE_RPC_PORT=9545
OP_NODE_GOSSIP_PORT=9003
OP_GETH_RPC_PORT=8545
OP_GETH_ENGINE_RPC_PORT=8551
OP_GETH_GOSSIP_PORT=30303
OP_GETH_WS_PORT=8546
PORTAL_PORT=8080
REGISTRY_PORT=8082
GATEWAY_PORT=9997
DISPUTE_GAME_TYPE=1
BLOCKSCOUT_PORT=4000
TXPROXY_PORT=8090