BOP_REPLAY_BLOCKS_RANGE=2000..=2500
BOP_REPLAY_CHAIN_NAME=based-op-sepolia
BOP_REPLAY_FOLLOWER_NODES_COUNT=2

BOP_REPLAY_GATEWAY_PORT=29997
BOP_REPLAY_GATEWAY_AUTH_URL=http://0.0.0.0:29997
BOP_REPLAY_GATEWAY_AUTH_JWT=bfea64567a978df0bcd973699554671aa20b20820bc40ba45dfed46025e2fa10
BOP_REPLAY_GATEWAY_URL=http://0.0.0.0:29998
BOP_REPLAY_GATEWAY_PORT_NO_AUTH=29998
BOP_REPLAY_GATEWAY_SEQUENCING_KEY=42241483bfabbedc7c9d0d466c22c0820c40c886ddbe5b10a60308a032baac58

BOP_REPLAY_KONA_SEQUENCER_GOSSIP_PORT=22303
BOP_REPLAY_KONA_SEQUENCER_DISCOVERY_PORT=22304
BOP_REPLAY_P2P_SEQUENCER_KEY=0x377d4db65cb871eeca771ce5c9db54e90e7413234d2f094acc13ac2d428dbf35
BOP_REPLAY_ROLLUP_FILE_PATH=../../.local_gateway_and_follower_based-op-sepolia/config/rollup.json

BOP_REPLAY_L1_BEACON_RPC_URL=http://34.194.193.217:5052
BOP_REPLAY_L1_RPC_URL=http://34.194.193.217:8545
BOP_REPLAY_L2_EL_VERIFIER_URL=http://18.185.199.51:8545

BOP_REPLAY_BASED_OP_GETH_0_ENGINE_RPC_PORT=28651
BOP_REPLAY_BASED_OP_GETH_0_GOSSIP_PORT=21303
BOP_REPLAY_BASED_OP_GETH_0_RPC_PORT=28645
BOP_REPLAY_BASED_OP_GETH_0_WS_PORT=28646
BOP_REPLAY_BASED_OP_GETH_0_METRICS_PORT=28010
BOP_REPLAY_BASED_OP_NODE_0_GOSSIP_PORT=29103
BOP_REPLAY_BASED_OP_NODE_0_RPC_PORT=28547
BOP_REPLAY_BASED_OP_NODE_0_METRICS_PORT=28011

BOP_REPLAY_BASED_OP_GETH_1_ENGINE_RPC_PORT=28751
BOP_REPLAY_BASED_OP_GETH_1_GOSSIP_PORT=21403
BOP_REPLAY_BASED_OP_GETH_1_RPC_PORT=28745
BOP_REPLAY_BASED_OP_GETH_1_WS_PORT=28746
BOP_REPLAY_BASED_OP_GETH_1_METRICS_PORT=28110
BOP_REPLAY_BASED_OP_NODE_1_GOSSIP_PORT=29203
BOP_REPLAY_BASED_OP_NODE_1_RPC_PORT=28647
BOP_REPLAY_BASED_OP_NODE_1_METRICS_PORT=28111

BOP_REPLAY_METRICS_EXPORTER_PORT=29000
BOP_REPLAY_PROMETHEUS_PORT=29090
BOP_REPLAY_GRAFANA_PORT=23000

BOP_REPLAY_REGISTRY_PORT=28082
BOP_REPLAY_PORTAL=http://127.0.0.1:28081

BOP_REPLAY_RUST_LOG=bop_common=debug,bop_db=debug,bop_metrics=debug,bop_pool=debug,bop_rpc=debug,bop_sequencer=debug,bop_gateway=debug,bop_metrics_exporter=debug,gateway_registry=debug
RUST_LOG=info,chain_replay=debug,discv5::service=error
