BOP_REPLAY_BLOCKS_RANGE=11000..=12000
BOP_REPLAY_CHAIN_NAME=based-op-sepolia
BOP_REPLAY_DISC_PORT=32304
BOP_REPLAY_GATEWAY_AUTH_JWT=bfea64567a978df0bcd973699554671aa20b20820bc40ba45dfed46025e2fa10
BOP_REPLAY_GATEWAY_AUTH_URL=http://0.0.0.0:9997
BOP_REPLAY_GATEWAY_URL=http://0.0.0.0:9998
BOP_REPLAY_GOSSIP_PORT=32303
BOP_REPLAY_L2_EL_VERIFIER_URL=http://18.185.199.51:8545
BOP_REPLAY_P2P_SEQUENCER_KEY=0x377d4db65cb871eeca771ce5c9db54e90e7413234d2f094acc13ac2d428dbf35
BOP_REPLAY_REPLAY_BLOCK_RANGE="11000..=12000"
BOP_REPLAY_ROLLUP_FILE_PATH=../../.local_gateway_and_follower_based-op-sepolia/config/rollup.json

BOP_REPLAY_L1_BEACON_RPC_URL=http://34.194.193.217:5052
BOP_REPLAY_L1_RPC_URL=http://34.194.193.217:8545
BOP_REPLAY_L2_ENGINE_RPC_URL=http://0.0.0.0:8651

BOP_REPLAY_BASED_OP_GETH_ENGINE_RPC_PORT=8651
BOP_REPLAY_BASED_OP_GETH_GOSSIP_PORT=31303
BOP_REPLAY_BASED_OP_GETH_RPC_PORT=8645
BOP_REPLAY_BASED_OP_GETH_WS_PORT=8646
BOP_REPLAY_BASED_OP_NODE_GOSSIP_IP=0.0.0.0
BOP_REPLAY_BASED_OP_NODE_GOSSIP_PORT=9103
BOP_REPLAY_BASED_OP_NODE_RPC_PORT=8547

BOP_REPLAY_GATEWAY_PORT=9997
BOP_REPLAY_GATEWAY_SEQUENCING_KEY=42241483bfabbedc7c9d0d466c22c0820c40c886ddbe5b10a60308a032baac58

BOP_REPLAY_REGISTRY_PORT=8082
BOP_REPLAY_PORTAL=http://127.0.0.1:8081

BOP_RELAY_RUST_LOG_GATEWAY=bop_common=trace,bop_db=trace,bop_pool=trace,bop_rpc=trace,bop_sequencer=trace,bop_gateway=trace
RUST_LOG=info,discv5::service=error
